################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ArchiveManagerApp/CopilotIndices/17.13.431.34963/CodeChunks.db
